/* General styling */
body {
    font-family: Arial, sans-serif;
    background: url('http://localhost/Restaurantly/assets/img/logo.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor del formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para la caja de formulario */
.form-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de los campos de texto y etiquetas */
.textbox {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.textbox label {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin-right: 20px;
    min-width: 180px; /* Ajusta el ancho de la etiqueta */
}

.textbox input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: white;
    box-sizing: border-box;
    width: calc(80% - 200px); /* Ajusta el ancho del campo de texto */
}

/* Estilo específico para el contenedor del botón de selección de archivo */
.file-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.file-label {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin-right: 20px;
    min-width: 180px; /* Ajusta el ancho de la etiqueta */
}

/* Estilo para el botón de selección de archivo */
.file-input {
    font-size: 16px;
    background: white;
    cursor: pointer;
    border: 1px solid #ccc; /* Agrega un borde alrededor del botón de archivo */
    border-radius: 4px;
    padding: 10px;
    margin-left: 0px; /* Ajusta este valor para mover el botón hacia la derecha */
}

#file-name {
    font-size: 14px;
    color: #666;
    margin-left: 10px; /* Espacio entre el botón y el mensaje */
}

/* Estilo para los mensajes de advertencia */
.warning {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

/* Estilo para los botones */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px; /* Mayor espacio entre el campo de archivo y los botones */
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6a1b9a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4a148c;
}

.cancel-btn {
    background-color: #6a1b9a;
}

.cancel-btn:hover {
    background-color: #4a148c;
}

