{% load static %}
{%block body%}
    

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Cliente</title>
    <link rel="stylesheet" href="{% static 'assets/css/cliente.css' %}">
    <!--Importando SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>
    <div class="form-container">
        <div class="form-box">
            <h2>Ficha Cliente</h2>
            <form id="cliente_form" action="{% url 'guardar_cliente' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="textbox">
                    <label for="ci">CI</label>
                    <input type="text" id="ci" name="ci" placeholder="Ingrese el CI" required>
                    <span id="ci-warning" class="warning"></span>
                </div>
                
                <div class="textbox">
                    <label for="licencia">Licencia</label>
                    <select id="licencia" name="licencia" required>
                        <option value="">Seleccione el tipo de licencia</option>
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo2">Tipo 2</option>
                        <option value="tipo3">Tipo 3</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>
                
                <div class="file-input-container">
                    <label for="pago_servicio" class="file-label">Pago de Servicio Básico</label>
                    <input type="file" id="pago_servicio" name="pago_servicio" class="file-input" accept=".pdf, .doc, .docx, .xls, .xlsx" onchange="updateFileName('pago-servicio', 'file-name-pago')">
                    <span id="file-name-pago"></span> <!-- Añadido para mostrar el nombre del archivo -->
                </div>

                <div class="textbox">
                    <label for="ci_conyugue">CI Cónyuge</label>
                    <input type="text" id="ci_conyugue" name="ci_conyugue" placeholder="Ingrese el CI del cónyuge" required>
                    <span id="ci_conyugue-warning" class="warning"></span>
                </div>

                <div class="textbox">
                    <label for="disolucion_conyugal">Disolución Conyugal</label>
                    <input type="text" id="disolucion_conyugal" name="disolucion_conyugal" placeholder="Ingrese la disolución conyugal" required>
                </div>

                <div class="file-input-container">
                    <label for="formulario_vinculacion" class="file-label">Formulario de Vinculación</label>
                    <input type="file" id="formulario_vinculacion" name="formulario_vinculacion" class="file-input" accept=".pdf, .doc, .docx, .xls, .xlsx" onchange="updateFileName('formulario-vinculacion', 'file-name-vinculacion')">
                    <span id="file-name-vinculacion"></span> <!-- Añadido para mostrar el nombre del archivo -->
                </div>

                <div class="button-group">
                    <button type="submit" class="btn">Enviar</button>
                    <button type="button" class="btn cancel-btn" onclick="window.location.href='menu'">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>



{% endblock  %}

