
{% load static %}
{%block body%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>V & F Seguros</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <!--IMPORTANDO SWITHALERT-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- IMPORTANDO jQuery VALIDATE-->
  <script src="{% static '/librerias/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <!--IMPORTANDO FONT-AWASOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--Importando FileInput.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css">
  <script  src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>


    

  <!-- =======================================================
  * Template Name: Restaurantly
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
        </div>
        <div class="languages d-none d-md-flex align-items-center">
          
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'assets/img/logo.png' %}" alt="">
          <h1 class="sitename">V & F Seguros</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Inicio<br></a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#menu">Agencias</a></li>
            <li><a href="#specials">Servicios</a></li>
            <li><a href="#events">Promociones</a></li>
            <li><a href="#gallery">Galeria</a></li>
            <li><a href="#chefs">Propietarios</a></li>
            
            <li><a href="#contact">Contactos</a></li>
            
            <li><a href="{% url 'login' %}">| Iniciar Sesión |</a></li>
            
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>

    </div>

  </header>
 <!--Si existe mensajes te ejecuta eso caso contrario no -->
 {% if messages %}
 {% for mensaje in messages %}
     {% if mensaje.tags == 'success' %}
         <script>
             Swal.fire({
                 title: "CONFIRMACION",
                 //Para reutilizar el mensaje que vayamos a poner
                 text: "{{mensaje}}",
                 icon: "success"
             });
         </script>

     {% endif %}
 {% endfor %}
{% endif %}
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/inicio.png' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
            <h2 data-aos="fade-up" data-aos-delay="100">Bienvenidos a <span>V & F Seguros</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">Protegemos tu futuro con soluciones de seguro a medida</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#menu" class="cta-btn">Agencias</a>
              <a href="#book-a-table" class="cta-btn">Nuestros Servicios</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
            <a class="glightbox pulsating-play-btn" href="assets/view/video1.mp4">
                <video controls>
                    <source src="{% static 'assets/view/video1.mp4' %}" type="video/mp4">
                </video>
            </a>          
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/logo.png' %}" class="img-fluid about-img" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Acerca de nosotros</h3>
            <p class="fst-italic">
              Somos brókeres enfocados en productos específicos y con distintas condiciones.
            </p>
            <h3>Visión</h3>
                    <p style="text-align: justify;">Aspiramos a convertirnos en la firma de asesoría en seguros preferida en Ecuador, reconocida 
                      por nuestra excelencia en el servicio, nuestra profunda comprensión de las necesidades de nuestros clientes y 
                      nuestro compromiso con la construcción de relaciones sólidas y duraderas. Buscamos ser un referente en el mercado 
                      por nuestra innovación, ética y responsabilidad social, siempre teniendo en mente que "Tu tranquilidad, nuestra 
                      prioridad".</p>
            <h3>Misión</h3>
                      <p style="text-align: justify;">En V & F Seguros, nos comprometemos a ser tu aliado de confianza en la gestión de riesgos 
                        y la protección de tu patrimonio. Te acompañamos en cada paso del camino, brindándote asesoría personalizada, 
                        productos de seguros de alta calidad y un servicio excepcional, con el objetivo de garantizar tu tranquilidad 
                        y bienestar.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span style="text-align: justify;">Facilitamos la apertura de cuentas y gestión para todo tipo de inversores.</span></li>
              <li><i class="bi bi-check2-all"></i> <span style="text-align: justify;">Proporcionamos asistencia y herramientas para realizar operaciones financieras.</span></li>
              <li><i class="bi bi-check2-all"></i> <span style="text-align: justify;">Somos intermediarios entre tú y el mercado financiero, y que a cambio cobra una comisión..</span></li>
            </ul>
            <p style="text-align: justify;">
              En V & F Seguros, entendemos que la vida está llena de incertidumbres, 
              pero también creemos que con la protección adecuada, puedes enfrentarlas con confianza 
              y serenidad. Somos una agencia de brokers especializada en ofrecer soluciones 
              personalizadas para todas tus necesidades de seguros, ya sea para tu hogar, tu salud, 
              tu negocio o tus inversiones.

            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>NOSOTROS</h2>
        <p>¿Por qué elegirnos?</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>01</span>
              <h4><a href="" class="stretched-link">Experiencia y Profesionalismo</a></h4>
              <p style="text-align: justify;">Contamos con un equipo de asesores altamente capacitados y con años de experiencia en el sector asegurador. 
                Nuestro conocimiento profundo del mercado nos permite brindarte las mejores opciones adaptadas a tus necesidades 
                específicas.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>02</span>
              <h4><a href="" class="stretched-link"></a>Atención Personalizada</h4>
              <p style="text-align: justify;">En V & F Seguros, cada cliente es único. Nos tomamos el tiempo para conocerte, entender tus 
                preocupaciones y diseñar un plan de seguros que te ofrezca la máxima protección y tranquilidad.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>03</span>
              <h4><a href="" class="stretched-link">Variedad de Productos</a></h4>
              <p style="text-align: justify;">Trabajamos con las principales compañías aseguradoras para ofrecerte una amplia gama de productos, 
                desde seguros de vida y salud hasta seguros de automóviles y responsabilidad civil. Nuestro objetivo 
                es que encuentres en un solo lugar todo lo que necesitas para sentirte seguro y protegido.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <span>04</span>
              <h4><a href="" class="stretched-link">Innovación y Tecnología</a></h4>
              <p style="text-align: justify;">Estamos a la vanguardia de la tecnología para proporcionar un servicio ágil y eficiente. Desde cotizaciones 
                rápidas hasta gestión de pólizas en línea, hacemos que el proceso de asegurarte sea lo más sencillo y 
                conveniente posible.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="500">
            <div class="card-item">
              <span>05</span>
              <h4><a href="" class="stretched-link">Nuestro Compromiso</a></h4>
              <p style="text-align: justify;">En V & F Seguros, no solo vendemos pólizas; construimos relaciones basadas en la confianza y el 
                respeto. Nuestro compromiso es estar a tu lado en cada paso del camino, asegurándonos de que siempre tengas 
                el respaldo que necesitas.</p>
            </div>
          </div><!-- Card Item -->

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>NUESTROS AFILIADOS</h2>
        <p>Aseguradoras afiliadas a nuestra empresa</p>
      </div><!-- End Section Title -->

      <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <h3 style="color: #d4a758; font-weight: bold;">Aseguradoras</h3>
          </div>
        </div><!-- Menu Filters -->

        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <img src="{% static 'assets/img/logos/specials-1.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Aseguradora del Sur C.A.</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;" >
              Cotiza el seguro ideal para tu vehículo nuevo o usado con los diferentes planes diseñados para brindarte las mejores 
              coberturas y asistencias de la manera más rápida, 100% digital y paper free.
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <img src="{% static 'assets/img/logos/specials-2.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">MapFre</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;">
              Ofrecemos una gama de productos ajustados a las necesidades de cada cliente individual: Autos, Vida, Accidentes 
              Personales, Hogar y para todas las empresas, pequeñas, medianas y grandes corporaciones, tenemos una oferta de 
              productos y servicios adaptados a la actividad de cada una de ellas.
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <br>
            <br>
            <img src="{% static 'assets/img/logos/specials-3.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">LIBERTY</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;">
              Tenemos una responsabilidad en ayudar a vivir vidas más seguras y protegidas. En Liberty Seguros creemos que 
              el compromiso con nuestros clientes es tan importante como nuestro impacto en las comunidades; por eso cada 
              año movilizamos en todo el mundo más de 50 millones de dólares de inversión a la comunidad que se ven reflejados 
              en tiempo, dinero y recursos.
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <img src="{% static 'assets/img/logos/specials-4.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">SWEADEN</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;">
              SWEADEN COMPAÑÍA DE SEGUROS S.A. es una empresa ecuatoriana dedicada a la industria aseguradora desde septiembre 
              del año 2007; con oficinas en las ciudades de Quito, Guayaquil, Cuenca, Ambato, Latacunga, Riobamba, Ibarra, Manta, 
              Esmeraldas, Portoviejo, Santo Domingo, Quevedo, Machala y Loja; liderada por empresarios nacionales quienes poseen 
              una gran visión dedicada a la producción de servicios innovadores y con importantes valores agregados.
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <br>
            <img src="{% static 'assets/img/logos/specials-5.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">BMI Companies</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;">
              Somos BMI, apasionados por el diseño de soluciones innovadoras para la protección de tu patrimonio y bienestar 
              #SiempreJuntoaTi. Un mundo de confianza en tus manos, acompañando tu presente y asegurando el futuro de tu familia.
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-active">
            <img src="{% static 'assets/img/logos/specials-6.png' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">OLE Life</a>
            </div>
            <div class="menu-ingredients" style="text-align: justify;">
              Olé life es una aseguradora especializada en el área de seguros de vida, enfocada en ofrecer servicios de protección 
              y bienestar que, a través de su tecnología e innovación brinda a sus clientes una experiencia fácil, rápida y flexible 
              al momento de contratar su seguro. 
            </div>
          </div><!-- Menu Item -->

        </div><!-- Menu Container -->

      </div>

    </section><!-- /Menu Section -->

    <!-- Specials Section -->
    <section id="specials" class="specials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Ofrecemos</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">Tipos de Seguros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Asesoramiento Personalizado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Beneficios y Descuentos Adicionales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">Público Objetivo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">Cobertura</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="specials-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Tipos de seguros</h3>
                    <p class="fst-italic" style="text-align: justify;">En V & F Seguros, ofrecemos una amplia gama de seguros, incluyendo seguros de salud, vida, automóviles, hogar, y empresariales.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Asesoramiento Personalizado</h3>
                    <p class="fst-italic" style="text-align: justify;">Nuestros expertos en seguros brindan asesoramiento personalizado para ayudar a nuestros clientes a seleccionar las opciones de cobertura más adecuadas a sus necesidades individuales y familiares.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Beneficios y Descuentos Adicionales</h3>
                    <p class="fst-italic" style="text-align: justify;">Premiamos la fidelidad de nuestros clientes con descuentos exclusivos y programas de recompensas que añaden valor a su experiencia con nosotros.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Publico Objetivo</h3>
                    <p class="fst-italic" style="text-align: justify;">Nos enfocamos en ofrecer soluciones de seguros a familias, individuos,pequeñas y medianas empresas que buscan protección y tranquilidad.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-4.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cobertura</h3>
                    <p class="fst-italic" style="text-align: justify;">Brindamos servicios adicionales como asesoría financiera personalizada, atención al cliente 24/7, y un sistema eficiente de gestión de reclamos.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-5.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Specials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="{% static 'assets/img/events-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/seguro-vida.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Seguro de Vida</h3>
                  <div class="price">
                    <p><span>$189</span></p>
                  </div>
                  <p class="fst-italic" style="text-align: justify;">
                    Protege lo que más importa. Obtén tu seguro de vida hoy mismo y asegura el futuro de tus seres queridos.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span >Beneficios adicionales como asistencia médica y servicios financieros.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span >Opción de pagos flexibles y accesibles para adaptarse a tu presupuesto.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span >Protección global: cubre eventos como fallecimiento, invalidez y enfermedades graves.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span >Posibilidad de agregar coberturas complementarias según tus necesidades específicas.</span></li>
                  </ul>
                  <p style="text-align: justify;">
                    Asegúrate de que tu familia esté protegida en todo momento. No esperes más 
                    y consulta con nuestros agentes para obtener más información.
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/seguro-auto.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Seguro de Autos</h3>
                  <div class="price">
                    <p><span>$290</span></p>
                  </div>
                  <p class="fst-italic" style="text-align: justify;">
                    Conduce con tranquilidad. Protege tu vehículo y a ti mismo con nuestro seguro de autos.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Cobertura integral para daños por colisión, robo y vandalismo.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Asistencia en carretera las 24 horas del día, los 7 días de la semana.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Protección legal y asesoramiento en caso de accidentes.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Opción de reparaciones en talleres autorizados y garantía de calidad.</span></li>
                  </ul>
                  <p style="text-align: justify;">
                    Con nuestro seguro de autos, maneja con confianza sabiendo que estás protegido en cualquier situación. Contáctanos hoy mismo para obtener más detalles.
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/seguro-empresarial.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Seguro Empresarial</h3>
                  <div class="price">
                    <p><span>$99</span></p>
                  </div>
                  <p class="fst-italic" style="text-align: justify;">
                    Protege tu negocio y asegura su éxito con nuestro seguro empresarial.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Cobertura amplia para propiedades y activos empresariales.</span></li>
    <li><i class="bi bi-check2-circle"></i> <span>Seguro de responsabilidad civil para proteger contra demandas legales.</span></li>
    <li><i class="bi bi-check2-circle"></i> <span>Seguro de vida y salud para empleados.</span></li>
    <li><i class="bi bi-check2-circle"></i> <span>Asesoramiento especializado en gestión de riesgos y cumplimiento normativo.</span></li>
                  </ul>
                  <p style="text-align: justify;">
                    Con nuestro seguro empresarial, protege tus inversiones y asegura la continuidad de tu negocio ante cualquier eventualidad. Contáctanos hoy mismo para conocer más sobre nuestras soluciones adaptadas a las necesidades de tu empresa.
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

  
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>TESTIMONIOS</h2>
        <p>Testimonios de nuestros servicios</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" "="">
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
                <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>GALERIA</h2>
        <p>Fotos acerca de V & F Seguros</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-1.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-2.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-3.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-4.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-5.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.png" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-6.png' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpeg" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-7.jpeg' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpeg" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/gallery/gallery-8.jpeg' %}" alt="" class="img-fluid gallery-img">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>TEAM</h2>
        <p>Equipo de trabajo</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpeg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Francisco Gallejos</h4>
                  <span>Puesto Gerente Comercial <br>
                    Experiencia laboral: <br>
                    Movistar: Jefe de Agencia <br>
                    Semerca: Jefe  de Agencia <br>
                    Instituto de prácticas bancarias y financieras IPBF <br>
                    Diplomado de especialista en seguros.
                    </span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Veronica Romero</h4>
                  <span>
                    Puesto Gerente General <br>
                    Experiencia Laboral: <br>
                    Movistar: Ejecutiva Comercial <br>
                    Semerca: Asistente Administrativa <br>
                    Instituto de prácticas bancarias y financieras IPBF <br>
                    Diplomado de especialista en seguros.
                  </span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <p>Contáctenos</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Ubicación</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Horarios de Atención</h3>
                <p>Monday-Saturday:<br>11:00 AM - 2300 PM</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Nuestros Contactos</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Nuestro Email</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="{% url 'enviar_correo' %}" method="post"  class="form">
            {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Nombre" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
                </div>
                <div class="col-md-12 mb-3">
                  <select id="plan_pago" name="plan_pago" class="form-select" >
                    <option value="" disabled selected>Seleccione su tipo de plan:</option>
                    <option value="seguro de Vida">Seguro de Vida</option>
                    <option value="Seguro de Auto">Seguro de Autos</option>
                    <option value="Seguro Empresarial">Seguro Empresarial</option>
                  </select>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>
                  <button type="submit" class="btn btn-primary" style="background-color: rgb(112, 91, 54); border-color: rgb(112, 91, 54); color: white;">
                      Enviar Mensaje
                  </button>
                </div>
              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">V & F Seguros</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Enlaces Útiles</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Terminos de servico</a></li>
            <li><a href="#">Politica de privacidad</a></li>
          </ul>
        </div>

       

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">V & F Seguros</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
{% endblock  %}
